.home-img {
    width: 1240px;
    height: 223px;
    flex-shrink: 0;
    border-radius: 25px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    z-index: 1;
}

.home-text {
    font-size: 50px;
    color: white;
    text-align: center;
    justify-content: center;
    margin-top: -170px;
    z-index: 2;
    text-shadow: 0 0 25px black;
    opacity: 1;
}

.Body {
    max-width: 1240px;
}

.main {
    max-width: 1240px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    
}



@media (max-width: 720px) {
    
    .main {
        max-width: 720px;
    }
    
    .div-header {
        width: 700px;
        margin-left: 200px;
        display: flex;
        margin: 0 auto;
        margin-top: 15px;
        justify-content: space-between;
    }
    
    .logo-header {
        width: 145px;
        height: 47px;
        flex-shrink: 0;
        margin-left: 20px;
    }
    
    .home-img {
        width: 690px;
        height: 200px;
        border-radius: 10px;
        margin-left: 10px;
    }
    
    .home-text{
        display: flex;
        width: 335px;
        margin-left: 40px;
        color: #FFF;
        font-family: Montserrat;
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 100%;
    }
}

