.bloc {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FF6060;
  gap: 30px;
  margin-left: 60px;
}

.collapse-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
  width: 988px;
  height: 80px;
  background-color: #FF6060;
  border-radius: 5px;
  color: white;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
}

.collapse-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  margin-left: 850px;
  transition: transform 0.2s;
  color: white;
}

.collapse-button.open {
  transform: rotate(-180deg);
}

.text {
  display: flex;
  align-items: center;
  text-align: center;
  width: 988px;
  text-decoration: #FF6060;
  border-radius: 5px;
  font-family: Montserrat;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 142.6%;
  text-overflow: clip;
}

.text.open {
  background-color: #F6F6F6;
  width: 988px;
  height: 120px;
  margin-top: -40px;
}


@media (max-width: 720px) {
  
  .bloc {
    width: 700px;
    height: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: -145px;
    margin-top: -20px;
    gap: 20px;
  }
  
  .collapse-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 690px;
    height: auto;
    margin-left: 265px;
    border-radius: 5px;
  }
  
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .text-about{
    color: #FFF;
    font-family: Montserrat;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.6%;
    margin-left: -630px;
    margin-bottom: -20px;
  }
  
  .collapse-button {
    max-width: 720px;
    background: none;
    border: none;
    cursor: pointer;
    color: black;
    margin-left: 650px;
  }
  
  .text.open {
    background-color: #F6F6F6;
    width: 690px;
    height: 60px;
    margin-left: 265px; 
    margin-top: -30px;
    padding: 1px;
    color: #FF6060;
    font-family: Montserrat;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 142.6%
  }
}