nav {
    height: 50px;
    border: 1px solid white;
}

.div-header {
    width: 1290px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.header-button {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
    margin-top: 20px;
}

.btn {
    width: 100%;
    border: none;
    color: #FF6060;
    background-color: white;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}



@media only screen and (max-width: 720px) {}